<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

  <mirrors>
    <mirror>
      <id>nexus</id>
      <mirrorOf>*</mirrorOf> <!-- Это означает, что этот прокси используется для всех репозиториев -->
      <url>https://nexus.ctrlops.ru/repository/maven-proxy/</url>
    </mirror>
  </mirrors>

  <profiles>
    <profile>
      <id>default</id>
      <repositories>
        <repository>
          <id>central</id>
          <url>https://nexus.ctrlops.ru/repository/maven-proxy/</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
      </repositories>
    </profile>
  </profiles>
  <servers>
    <server>
      <id>nexus</id>
      <username>nexus-maven</username>
      <password>9i2dyRJf4L</password>
    </server>
  </servers>
  <activeProfiles>
    <activeProfile>default</activeProfile>
  </activeProfiles>
</settings>